## Pandas and Matplotlib

Data source: www.kaggle.com/mczielinski/bitcoin-historical-data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
df = pd.read_csv('../../data/bitcoin/bitflyerJPY_1-min_data_2018-06-01_to_2018-06-27.csv')

df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2018-06-01 00:00:00,816163,816460,815700,816460,9.137702,7.456346e+06,815997.92105
1,2018-06-01 00:01:00,816460,816999,816438,816563,4.359824,3.560639e+06,816693.32850
2,2018-06-01 00:02:00,816910,817079,816741,817074,1.701717,1.390245e+06,816965.75657
3,2018-06-01 00:03:00,817066,817541,816883,817462,3.546464,2.898951e+06,817419.97322
4,2018-06-01 00:04:00,817903,818000,817348,818000,9.823000,8.033058e+06,817780.58868

In [42]:
df.head(10)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2018-06-01 00:00:00,816163,816460,815700,816460,9.137702,7.456346e+06,815997.92105
1,2018-06-01 00:01:00,816460,816999,816438,816563,4.359824,3.560639e+06,816693.32850
2,2018-06-01 00:02:00,816910,817079,816741,817074,1.701717,1.390245e+06,816965.75657
3,2018-06-01 00:03:00,817066,817541,816883,817462,3.546464,2.898951e+06,817419.97322
4,2018-06-01 00:04:00,817903,818000,817348,818000,9.823000,8.033058e+06,817780.58868
5,2018-06-01 00:05:00,818000,818462,817836,818434,4.893215,4.003442e+06,818161.85934
6,2018-06-01 00:06:00,818544,818544,818434,818500,1.332351,1.090443e+06,818435.60924
7,2018-06-01 00:07:00,818437,818900,818372,818432,7.093076,5.805792e+06,818515.51170
8,2018-06-01 00:08:00,818232,820790,817438,819665,23.945281,1.963105e+07,819829.65286
9,2018-06-01 00:09:00,819669,819669,817863,819296,6.429505,5.264810e+06,818851.52641

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37441 entries, 0 to 37440
Data columns (total 8 columns):
Timestamp            37441 non-null object
Open                 37441 non-null int64
High                 37441 non-null int64
Low                  37441 non-null int64
Close                37441 non-null int64
Volume_(BTC)         37441 non-null float64
Volume_(Currency)    37441 non-null float64
Weighted_Price       37441 non-null float64
dtypes: float64(3), int64(4), object(1)
memory usage: 2.3+ MB

In [44]:
# timestamp is an object, let's convert it to a real time stamp

df.Timestamp = pd.to_datetime(df.Timestamp)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37441 entries, 0 to 37440
Data columns (total 8 columns):
Timestamp            37441 non-null datetime64[ns]
Open                 37441 non-null int64
High                 37441 non-null int64
Low                  37441 non-null int64
Close                37441 non-null int64
Volume_(BTC)         37441 non-null float64
Volume_(Currency)    37441 non-null float64
Weighted_Price       37441 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(4)
memory usage: 2.3 MB

In [46]:
# let's find out the range of timestamps and pick a subset

df.Timestamp.describe()

count                   37441
unique                  37441
top       2018-06-26 15:40:00
freq                        1
first     2018-06-01 00:00:00
last      2018-06-27 00:00:00
Name: Timestamp, dtype: object

In [47]:
# pick June 13 using loc

df.loc[(df.Timestamp > '2018-06-12 23:59:59') & (df.Timestamp < '2018-06-14 00:00:00')]

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
17280,2018-06-13 00:00:00,729990,729990,729183,729183,3.827011,2.792179e+06,729597.74254
17281,2018-06-13 00:01:00,729121,729200,728576,729088,9.632921,7.021360e+06,728892.03768
17282,2018-06-13 00:02:00,729249,729500,729078,729463,13.908899,1.014184e+07,729161.64858
17283,2018-06-13 00:03:00,729355,730500,729355,729369,19.036052,1.389209e+07,729777.80865
17284,2018-06-13 00:04:00,729426,729675,729200,729232,5.133613,3.744046e+06,729319.95599
17285,2018-06-13 00:05:00,729541,729727,729300,729300,3.093560,2.256407e+06,729388.23394
17286,2018-06-13 00:06:00,729233,729460,728495,728958,9.745344,7.104786e+06,729044.16674
17287,2018-06-13 00:07:00,728904,728945,727233,728729,16.498750,1.201528e+07,728254.12141
17288,2018-06-13 00:08:00,728729,729981,728471,729981,12.929728,9.428490e+06,729210.21449
17289,2018-06-13 00:09:00,729721,730394,729293,730321,20.800977,1.518265e+07,729900.96093
17290,2018-06-13 00:10:00,730621,731275,729976,731275,12.051840,8.805104e+06,730602.43373
17291,2018-06-13 00:11:00,730688,731153,729837,729837,11.815140,8.628795e+06,730316.74395
17292,2018-06-13 00:12:00,729915,730253,729891,729925,3.634969,2.653565e+06,730010.42068
17293,2018-06-13 00:13:00,730000,730060,729367,729439,6.810920,4.970777e+06,729824.55743
17294,2018-06-13 00:14:00,729812,730001,729370,729370,6.064090,4.425449e+06,729779.61112
17295,2018-06-13 00:15:00,729881,729882,729679,729879,4.831802,3.526464e+06,729844.43948
17296,2018-06-13 00:16:00,729700,730043,729679,730043,3.267183,2.384390e+06,729800.05614
17297,2018-06-13 00:17:00,730000,730300,729879,729879,5.264318,3.842602e+06,729933.54698
17298,2018-06-13 00:18:00,729879,731002,729679,730944,18.374376,1.341847e+07,730281.63517
17299,2018-06-13 00:19:00,730870,731272,730115,730903,17.402854,1.271563e+07,730663.55470
17300,2018-06-13 00:20:00,730904,731008,730506,730764,10.234280,7.479739e+06,730851.55281
17301,2018-06-13 00:21:00,730911,731273,730808,731000,8.371049,6.119178e+06,730992.97477
17302,2018-06-13 00:22:00,731111,731111,730860,730861,7.581275,5.541741e+06,730977.40450
17303,2018-06-13 00:23:00,730859,731000,730453,730587,7.137960,5.216097e+06,730754.49532
17304,2018-06-13 00:24:00,730470,730827,730470,730790,4.435891,3.240977e+06,730625.87462
17305,2018-06-13 00:25:00,730800,731278,730525,731278,11.633911,8.501431e+06,730745.71892
17306,2018-06-13 00:26:00,731278,731402,730664,730737,8.465153,6.189848e+06,731215.16619
17307,2018-06-13 00:27:00,730996,731014,730599,730806,5.960627,4.355608e+06,730729.97300
17308,2018-06-13 00:28:00,730806,731014,730806,731000,8.518496,6.226876e+06,730983.05180
17309,2018-06-13 00:29:00,731014,731402,731000,731000,4.539818,3.318886e+06,731061.48275
...,...,...,...,...,...,...,...,...
18690,2018-06-13 23:30:00,703505,704110,703377,703556,11.645163,8.194409e+06,703674.85571
18691,2018-06-13 23:31:00,703559,703808,703377,703377,9.764060,6.868964e+06,703494.61405
18692,2018-06-13 23:32:00,703377,703603,703000,703000,8.140196,5.724667e+06,703259.08679
18693,2018-06-13 23:33:00,703196,703377,701010,701010,19.269426,1.353055e+07,702177.04419
18694,2018-06-13 23:34:00,701010,702063,701000,701730,21.593142,1.514800e+07,701519.19836
18695,2018-06-13 23:35:00,701738,702066,701665,701742,3.980659,2.793686e+06,701814.90193
18696,2018-06-13 23:36:00,701742,702100,701308,701500,4.784352,3.357159e+06,701695.72662
18697,2018-06-13 23:37:00,701416,702458,701401,702072,6.540909,4.591994e+06,702042.13377
18698,2018-06-13 23:38:00,702072,702610,702072,702089,5.215384,3.662561e+06,702261.03128
18699,2018-06-13 23:39:00,702089,702357,702067,702067,12.587100,8.837268e+06,702089.25258
18700,2018-06-13 23:40:00,702067,702090,702006,702006,5.477068,3.845193e+06,702053.20520
18701,2018-06-13 23:41:00,702090,702090,702006,702006,5.879701,4.127595e+06,702007.64113
18702,2018-06-13 23:42:00,702006,702070,701665,701665,4.182335,2.935757e+06,701942.22449
18703,2018-06-13 23:43:00,701545,701665,701237,701302,8.227531,5.769791e+06,701278.50500
18704,2018-06-13 23:44:00,701240,701240,700585,700598,5.446701,3.816506e+06,700700.45956
18705,2018-06-13 23:45:00,700598,701465,700598,701016,13.292669,9.317849e+06,700976.53663
18706,2018-06-13 23:46:00,701006,701011,700598,700803,13.046740,9.142093e+06,700718.53150
18707,2018-06-13 23:47:00,701005,701005,700803,701000,2.270200,1.591205e+06,700909.65148
18708,2018-06-13 23:48:00,701000,701000,700598,700598,12.017586,8.419850e+06,700627.40882
18709,2018-06-13 23:49:00,700585,700585,700004,700205,8.191491,5.737193e+06,700384.54971
18710,2018-06-13 23:50:00,700506,701226,700196,701226,11.665941,8.173325e+06,700614.29368
18711,2018-06-13 23:51:00,701226,702911,701226,702507,8.308365,5.834158e+06,702202.84402
18712,2018-06-13 23:52:00,702681,702690,701785,702025,5.486355,3.852398e+06,702178.08702
18713,2018-06-13 23:53:00,702025,702357,701891,702032,2.760431,1.938253e+06,702156.17035
18714,2018-06-13 23:54:00,702025,702158,701804,701902,1.899385,1.333189e+06,701905.92199
18715,2018-06-13 23:55:00,701902,701902,701700,701700,1.893110,1.328450e+06,701728.86766
18716,2018-06-13 23:56:00,701700,701728,701545,701630,6.435300,4.515467e+06,701671.61700
18717,2018-06-13 23:57:00,701728,701728,701597,701630,2.248632,1.577706e+06,701629.49436
18718,2018-06-13 23:58:00,701630,701728,701630,701694,1.242368,8.716945e+05,701639.25329
18719,2018-06-13 23:59:00,701728,702000,701659,702000,3.593000,2.521257e+06,701713.70890

In [48]:
# pick June 13 and any two columns using loc

df.loc[(df.Timestamp > '2018-06-12 23:59:59') & (df.Timestamp < '2018-06-14 00:00:00'), ['Open', 'Close']]

         Open   Close
17280  729990  729183
17281  729121  729088
17282  729249  729463
17283  729355  729369
17284  729426  729232
17285  729541  729300
17286  729233  728958
17287  728904  728729
17288  728729  729981
17289  729721  730321
17290  730621  731275
17291  730688  729837
17292  729915  729925
17293  730000  729439
17294  729812  729370
17295  729881  729879
17296  729700  730043
17297  730000  729879
17298  729879  730944
17299  730870  730903
17300  730904  730764
17301  730911  731000
17302  731111  730861
17303  730859  730587
17304  730470  730790
17305  730800  731278
17306  731278  730737
17307  730996  730806
17308  730806  731000
17309  731014  731000
...       ...     ...
18690  703505  703556
18691  703559  703377
18692  703377  703000
18693  703196  701010
18694  701010  701730
18695  701738  701742
18696  701742  701500
18697  701416  702072
18698  702072  702089
18699  702089  702067
18700  702067  702006
18701  702090  702006
18702  702006  701665
18703  701545  701302
18704  701240  700598
18705  700598  701016
18706  701006  700803
18707  701005  701000
18708  701000  700598
18709  700585  700205
18710  700506  701226
18711  701226  702507
18712  702681  702025
18713  702025  702032
18714  702025  701902
18715  701902  701700
18716  701700  701630
18717  701728  701630
18718  701630  701694
18719  701728  702000

[1440 rows x 2 columns]