## Bank Loan Repayment

### Tasks
- Feature Reduction
- Classification

### Dataset

https://www.kaggle.com/kirankarri/kiran-loans

### Description

From: https://www.kaggle.com/indra90/predicting-loan-repayment

In the lending industry, investors provide loans to borrowers in exchange for the promise of repayment with interest. If the borrower repays the loan, then the lender profits from the interest. However, if the borrower is unable to repay the loan, then the lender loses money. Therefore, lenders face the problem of predicting the risk of a borrower being unable to repay a loan.

To address this problem, we will use publicly available data from LendingClub.com, a website that connects borrowers and investors over the Internet. This dataset represents 9,578 3-year loans that were funded through the LendingClub.com platform between May 2007 and February 2010. The binary dependent variable not_fully_paid indicates that the loan was not paid back in full (the borrower either defaulted or the loan was "charged off," meaning the borrower was deemed unlikely to ever pay it back).

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
df = pd.read_csv('../../data/loan-repayment/loans.csv')

df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0.0,0.0,0.0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0.0,0.0,0.0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1.0,0.0,0.0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1.0,0.0,0.0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0.0,1.0,0.0,0

## Data cleaning

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
credit.policy        9578 non-null int64
purpose              9578 non-null object
int.rate             9578 non-null float64
installment          9578 non-null float64
log.annual.inc       9574 non-null float64
dti                  9578 non-null float64
fico                 9578 non-null int64
days.with.cr.line    9549 non-null float64
revol.bal            9578 non-null int64
revol.util           9516 non-null float64
inq.last.6mths       9549 non-null float64
delinq.2yrs          9549 non-null float64
pub.rec              9549 non-null float64
not.fully.paid       9578 non-null int64
dtypes: float64(9), int64(4), object(1)
memory usage: 1.0+ MB

In [7]:
df[df.isna().values]

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
781,1,all_other,0.1134,98.70,10.530495,7.72,677,1680.000000,0,NaN,1.0,0.0,0.0,1
803,1,educational,0.1103,52.41,10.532096,15.84,682,1829.958333,0,NaN,0.0,0.0,0.0,0
839,1,debt_consolidation,0.1134,263.20,10.714418,8.75,682,2490.000000,0,NaN,1.0,1.0,0.0,1
857,1,debt_consolidation,0.1229,23.35,9.852194,12.38,662,1199.958333,0,NaN,1.0,0.0,0.0,0
1213,1,major_purchase,0.1064,182.39,11.264464,4.26,697,4140.958333,0,NaN,0.0,0.0,1.0,0
1280,1,credit_card,0.1633,264.91,10.819778,10.80,667,5249.958333,0,NaN,0.0,0.0,0.0,1
1553,1,all_other,0.1557,314.51,10.596535,0.00,687,2940.041667,0,NaN,1.0,0.0,0.0,0
1782,1,educational,0.1695,97.98,8.342840,0.00,687,1238.041667,0,NaN,0.0,0.0,0.0,0
1927,1,all_other,0.1379,170.38,10.714418,6.00,722,5280.041667,0,NaN,1.0,0.0,0.0,0
2008,1,all_other,0.1316,405.25,11.350407,12.01,752,3749.041667,0,NaN,0.0,0.0,0.0,0
2193,1,all_other,0.1695,178.14,11.608236,14.95,677,6990.000000,49238,NaN,0.0,4.0,0.0,0
2528,1,small_business,0.1537,48.79,10.491274,5.07,712,2220.958333,0,NaN,2.0,0.0,0.0,0
2532,1,home_improvement,0.1411,222.49,11.198215,11.59,767,5522.958333,0,NaN,1.0,0.0,0.0,1
2705,1,major_purchase,0.1505,346.92,10.757988,20.19,752,4621.000000,0,NaN,2.0,0.0,0.0,0
3350,1,educational,0.1505,60.71,9.210340,15.84,677,2070.000000,0,NaN,1.0,0.0,0.0,0
3979,1,all_other,0.1284,47.07,8.494539,17.68,722,2100.000000,0,NaN,3.0,0.0,0.0,0
4958,1,credit_card,0.1913,201.97,11.877569,3.58,662,5130.000000,0,NaN,1.0,0.0,0.0,0
5521,1,all_other,0.1426,41.17,8.476371,13.75,702,2580.000000,0,NaN,0.0,0.0,0.0,1
6273,1,all_other,0.1461,172.38,10.491274,16.57,742,5400.000000,0,NaN,0.0,0.0,0.0,0
6318,1,major_purchase,0.1531,87.04,13.003580,0.18,712,1710.041667,0,NaN,1.0,0.0,0.0,0
6638,1,debt_consolidation,0.1531,174.08,10.915088,9.45,732,2643.041667,0,NaN,0.0,0.0,0.0,0
7013,1,major_purchase,0.1461,517.13,10.491274,9.17,732,1892.000000,0,NaN,2.0,0.0,0.0,0
7701,1,all_other,0.1600,70.32,10.085809,2.55,667,3509.958333,0,NaN,0.0,0.0,0.0,1
7702,1,debt_consolidation,0.1821,181.30,10.714418,11.39,662,5400.000000,0,NaN,3.0,2.0,0.0,1
7725,0,all_other,0.0775,156.11,11.156251,8.81,772,NaN,0,NaN,NaN,NaN,NaN,0
7725,0,all_other,0.0775,156.11,11.156251,8.81,772,NaN,0,NaN,NaN,NaN,NaN,0
7725,0,all_other,0.0775,156.11,11.156251,8.81,772,NaN,0,NaN,NaN,NaN,NaN,0
7725,0,all_other,0.0775,156.11,11.156251,8.81,772,NaN,0,NaN,NaN,NaN,NaN,0
7725,0,all_other,0.0775,156.11,11.156251,8.81,772,NaN,0,NaN,NaN,NaN,NaN,0
7726,0,all_other,0.0838,204.84,NaN,4.00,742,NaN,0,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7750,0,all_other,0.1407,34.21,10.126631,16.27,642,NaN,0,NaN,NaN,NaN,NaN,0
7751,0,all_other,0.1091,45.78,10.596635,8.61,672,NaN,0,NaN,NaN,NaN,NaN,0
7751,0,all_other,0.1091,45.78,10.596635,8.61,672,NaN,0,NaN,NaN,NaN,NaN,0
7751,0,all_other,0.1091,45.78,10.596635,8.61,672,NaN,0,NaN,NaN,NaN,NaN,0
7751,0,all_other,0.1091,45.78,10.596635,8.61,672,NaN,0,NaN,NaN,NaN,NaN,0
7751,0,all_other,0.1091,45.78,10.596635,8.61,672,NaN,0,NaN,NaN,NaN,NaN,0
7752,0,all_other,0.1122,164.23,10.239960,3.51,672,NaN,0,NaN,NaN,NaN,NaN,0
7752,0,all_other,0.1122,164.23,10.239960,3.51,672,NaN,0,NaN,NaN,NaN,NaN,0
7752,0,all_other,0.1122,164.23,10.239960,3.51,672,NaN,0,NaN,NaN,NaN,NaN,0
7752,0,all_other,0.1122,164.23,10.239960,3.51,672,NaN,0,NaN,NaN,NaN,NaN,0
7752,0,all_other,0.1122,164.23,10.239960,3.51,672,NaN,0,NaN,NaN,NaN,NaN,0
7753,0,all_other,0.0901,38.17,10.491274,3.27,707,NaN,0,NaN,NaN,NaN,NaN,0
7753,0,all_other,0.0901,38.17,10.491274,3.27,707,NaN,0,NaN,NaN,NaN,NaN,0
7753,0,all_other,0.0901,38.17,10.491274,3.27,707,NaN,0,NaN,NaN,NaN,NaN,0
7753,0,all_other,0.0901,38.17,10.491274,3.27,707,NaN,0,NaN,NaN,NaN,NaN,0
7753,0,all_other,0.0901,38.17,10.491274,3.27,707,NaN,0,NaN,NaN,NaN,NaN,0
7758,0,debt_consolidation,0.0964,61.00,11.512925,10.00,707,NaN,0,NaN,NaN,NaN,NaN,0
7758,0,debt_consolidation,0.0964,61.00,11.512925,10.00,707,NaN,0,NaN,NaN,NaN,NaN,0
7758,0,debt_consolidation,0.0964,61.00,11.512925,10.00,707,NaN,0,NaN,NaN,NaN,NaN,0
7758,0,debt_consolidation,0.0964,61.00,11.512925,10.00,707,NaN,0,NaN,NaN,NaN,NaN,0
7758,0,debt_consolidation,0.0964,61.00,11.512925,10.00,707,NaN,0,NaN,NaN,NaN,NaN,0
7759,0,all_other,0.1312,180.57,8.294050,15.00,662,178.958333,0,NaN,1.0,0.0,0.0,0
7798,0,all_other,0.1091,196.18,8.853665,8.57,682,334.000000,0,NaN,2.0,0.0,0.0,1
7811,0,all_other,0.1565,131.19,8.892886,17.31,642,3478.958333,0,NaN,1.0,0.0,0.0,1
8554,0,debt_consolidation,0.1071,97.81,10.203592,18.89,697,3812.000000,0,NaN,0.0,0.0,0.0,0
8570,0,debt_consolidation,0.1387,163.75,10.736397,22.72,662,2010.000000,0,NaN,6.0,0.0,0.0,0
8676,0,major_purchase,0.0976,128.62,10.752484,7.29,707,990.000000,0,NaN,0.0,0.0,0.0,0
8759,0,credit_card,0.0863,170.80,10.680516,10.18,742,2399.958333,0,NaN,3.0,0.0,0.0,0
9073,0,all_other,0.1442,859.57,12.542545,5.58,737,7890.000000,290291,NaN,1.0,0.0,0.0,0
9364,0,debt_consolidation,0.1774,172.91,9.546813,9.51,692,1530.041667,0,NaN,4.0,0.0,0.0,0